@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.section-servicios-vp h1 {
    margin: 60px 80px 10px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 45px;
    color: rgb(7, 33, 46);
    font-weight: 650;
}

.section-servicios-vp {
    background-color: rgba(211, 237, 244, 0.685);
    padding: 30px;
}

.container-serv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.container-serv .hexagon {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px 20px 0px;
}

.shape img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    /* padding: 25px;  */
}

.container-serv .hexagon::before {
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
    transition: 0.5s;
    border-radius: 50%;
}

*/ .container-serv .hexagon:hover::before {
    opacity: 0.8;
    transform: scale(0.8);
}

.container-serv .hexagon .shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    transition: 0.5s;
}

.container-serv .hexagon:hover .shape {
    transform: translateY(-30px);
}

.content p {
    font-family: 'Poppins';
}

.content h2 {
    font-size: 30px;
    font-weight: 700;
}

.content p {
    font-size: 15px;
}

.container-serv .hexagon .shape .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, rgb(159, 224, 220), rgb(88, 179, 184));
    opacity: 0;
    color: white;
    transition: 0.5s;
}

.container-serv .hexagon:hover .shape .content {
    opacity: 0.8;
    text-color: 2;
}